name: Release
on:
  push:
    tags:
      - 'v*'
      - 'v*'

permissions:
  contents: write
jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: macos-latest
            args: --target universal-apple-darwin
            targets: aarch64-apple-darwin,x86_64-apple-darwin
          - platform: ubuntu-latest
            args: ""
            targets: ""
          - platform: windows-latest
            args: ""
            targets: ""
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.targets }}

      - name: Install dependencies (Linux)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev build-essential curl wget file libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Node.js setup
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build the app
        id: tauri
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: ${{ github.ref_name }}
          releaseName: 'Numbat UI v__VERSION__'
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: false
          prerelease: false
          args: ${{ matrix.args }}

      - name: Update Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v3
        if: matrix.platform == 'macos-latest' && !contains(github.ref, '-') # Skip prereleases
        with:
          formula-name: numbat-ui
          formula-path: Casks/numbat-ui.rb
          homebrew-tap: ${{ github.repository_owner }}/homebrew-tools
          base-branch: main
          download-url: https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/Numbat_${{ steps.tauri.outputs.appVersion }}_universal.dmg
          commit-message: "Update numbat-ui formula to {{version}}"
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
