name: Release
on:
  push:
    tags:
      - 'v*'
      - 'v*'

permissions:
  contents: write
jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable

      - name: Node.js setup
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build the app
        id: tauri
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: ${{ github.ref_name }}
          releaseName: 'App v__VERSION__'
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: false
          prerelease: false

      - name: Update Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v3
        if: "!contains(github.ref, '-')" # Skip prereleases
        with:
          formula-name: numbat-ui
          formula-path: Formula/numbat-ui.rb
          homebrew-tap: ${{ github.repository_owner }}/homebrew-tools
          base-branch: main
          download-url: https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/numbat-ui_${{ steps.tauri.outputs.appVersion }}_x64.dmg
          commit-message: "Update numbat-ui formula to {{version}}"
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
