name: Test
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable

      - name: Node.js setup
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Check Rust
        run: |
          cd src-tauri
          cargo check --verbose

      - name: Run Tests
        run: |
          cd src-tauri
          cargo test --verbose

      - name: Check Frontend
        run: npm run check
